h2.main-title {
	padding: 10px;
}

h3.main-title {
	padding: 10px;
}

.admin-block-left a[href='shops'] .list {
    background-color: darkgray;
}

.table_shops {	
    margin: 68px 15px 15px 15px;
}

.add_new_shop {	
    width: 167px;
    position: absolute;
    right: 25px;
    top: 10px;
    padding: 4px;
    background-color: #ffffff;
    border: 1px solid #000;
    cursor: pointer;
}

.table_shops select {
	width: 100%;
}

.actionToSeller {
    color: #fff;
	cursor: pointer;
}

.editShop, .saveShop, .deleteShop {
	cursor: pointer;
	min-width: 130px;
}

.editShop:hover svg, .saveShop:hover svg, .deleteShop:hover svg {
	fill: #A83242;
}

.editing_shop {
	margin: 15px 30px 30px 30px;
	background-color: #fff;
}

.editing_shop .field {
	position: relative;
	padding: 15px 15px 20px 15px;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

.editing_shop .field.editURL {	
    padding-bottom: 37px;
}

.editing_shop .field:first-child {
	border-top: 1px solid black;	
}

.editing_shop .field .input {
	position: absolute;
	left: 195px;
	top: 11px;
}

.editing_shop .field .input .phones {
	padding-top: 5px;
}

.editing_shop .field .input .phones:first-child {
	padding-top: 0;
}

.editing_shop .field .input input[type="text"],
.editing_shop .field .input input[type="number"],
.editing_shop .field textarea {
	height: 30px;
	width: 750px;
}

.editing_shop .field  textarea {
    margin-left: 27px;
}

input[type="radio"] {
	height: auto!important;
}

.editing_shop .field label {
    display: inline-block;
    max-width: 150px;
	font-weight: 700;
}

.editing_shop .field .address-list {
    list-style: none;
    margin-left: 120px;
    position: relative;
}

.editing_shop .field .address-list li input {
    
}

.editing_shop .field .address-list li {	
    padding: 10px 10px 13px 10px;
	position: relative;
}

.editing_shop .field .address-list li input[type="text"],
.editing_shop .field .address-list li input[type="number"] {	
    position: absolute;
    top: -5px;
    width: 613px;
}

.editing_shop .editEntity .input > div {
	padding-top: 10px;
}

.editing_shop .editEntity .input > div:first-child {
	padding-top: 0;
}

.editing_shop .editEntity .input > div select,
.editing_shop .editEntity .input > div input#seller_entityType {
    display: block;
    margin-left: 46px;
    margin-top: 3px;
	height: 25px;	
	max-width: 175px;
}

.editing_shop .header {	
	position: relative;
	padding: 11px;
	background-color: #A83242;
    color: #fff;
    opacity: .95;
}

button.close {
  cursor: pointer;
  outline: 0;
}

button.close {
  background-color: #A83242;
  border: 0;
  opacity: .8;
  position: absolute;
  top: 12px;
  right: 1rem;
  transition: all .2s ease-out;
  width: 1rem;
}

button.close svg {
  fill: #fff;
}

button.close:hover {
  opacity: 1;
}

.save-shop {
    position: absolute;
    top: 9px; 
    right: 150px;
	cursor: pointer;
}

.reply-shop {
    position: absolute;
    top: 9px; 
    right: 83px;
	cursor: pointer;
}

.editing_shop .editPhoto .input svg {
	padding-left: 5px;
}

.editing_shop .editPhoto .input svg:hover {
  fill: #A83242;
  cursor: pointer;
}

.modalBlock.addNewTable .modalBody  div label {
    max-width: 170px;
}

.modalBlock.addNewTable .modal__block .modalBody > div {
    width: 405px;
}

.modalBlock.addNewTable .modal__block .modalBody > div input,
.modalBlock.addNewTable .modal__block .modalBody > div select,
.modalBlock.addNewTable .modal__block .modalBody > div textarea {
    height: auto;
}

.modalBlock.addNewTable .modal__block .modalBody > div .address-list {
    list-style: none;
    position: relative;
    margin-left: -125px;
    margin-top: 36px;
}

.modalBlock.addNewTable .modal__block .modalBody > div .address-list li {
    padding: 10px 10px 13px 10px;
    position: relative;
}

.modalBlock.addNewTable .modal__block .modalBody > div .address-list li label {
	display: block;
}

.modalBlock.addNewTable .modal__block .modalBody > div .address-list li input,
.modalBlock.addNewTable .modal__block .modalBody > div .address-list li select {
    position: absolute;
    right: -223px;
    bottom: 14px;
}

.modalBlock.addNewTable .modal__block .modalBody > div .address-list li select {
	width: 223px;
}

.modalBlock.addNewTable .modal__block .modalBody > div.juridic_address .address-list {
    margin-top: 87px;
}

.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_stockroom .address-list {
    margin-top: 0;
    margin-left: -24px;
}

.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_stockroom .addNewStockroom {
    width: 46px;
    height: 46px;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 51px;	
    border: 1px solid black;
	border-radius: 36px;
    padding-top: 0;
	cursor: pointer;
	z-index: 1;
}

.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_stockroom .addNewStockroom .line-1 {
    height: 26px;
    width: 5px;
    background-color: #000;
    border-radius: 5px;
    padding: 0;
    position: absolute;
    left: 20.5px;
    top: 9px;
}

.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_stockroom .addNewStockroom .line-2 {
    height: 5px;
    width: 26px;
    background-color: #000;
    border-radius: 5px;
    position: absolute;
    padding: 0;
    top: 19.5px;
    left: 10px;
}

.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_stockroom .address-list .numberStock {
    font-size: 18px;
}

.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_stockroom .stockRoomList {
	flex-direction: column;	
    position: relative;
    margin-top: 176px;
    margin-left: -24px;
    padding-top: 0;
    width: auto;
}

.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_stockroom .addNewStockroom:hover {
	border-color: #A83242;
}

.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_stockroom .addNewStockroom:hover .line-1,
.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_stockroom .addNewStockroom:hover .line-2 {
    background-color: #A83242;
}

.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_stockroom .stockRoomList ul.address-list li.phones > div {
    flex-direction: column;    
	position: absolute;
    left: 168px;
    bottom: 14px;
}

.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_stockroom .stockRoomList ul.address-list li.phones > div .input {
	width: auto;
	height: 50px;
}

.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_stockroom .stockRoomList ul.address-list li.phones > div .input div {
	display: block;
    position: inherit;
    margin-left: 0;
}

.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_stockroom .stockRoomList ul.address-list li.phones > div .input div.code {
    width: 90px;
    margin-right: 15px;
}

.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_stockroom .stockRoomList ul.address-list li.phones > div .input div.number {
    width: 170px;
}

.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_stockroom .stockRoomList ul.address-list li.phones > div .input div input {
    position: absolute;
	left: 0;
	bottom: 0;
    color: #fff;
    background: #fff;
    display: inline-block;
    border: 0;
    outline: 0;
    font-size: 13px;
    padding: 3px 0;
    margin: 3px 0 0;
    width: 100%;
    resize: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #e6e6e6;
	height: 22px;
}
	
.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_stockroom .stockRoomList ul.address-list li.phones > div .input div input:focus, 
.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_stockroom .stockRoomList ul.address-list li.phones > div .input div input.active {
    border-bottom: 2px solid #e16b6b;
    color: #000;
}

.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_stockroom .stockRoomList ul.address-list li.phones > div .input div label {
    font-size: 14px;
    position: absolute;
    left: 0;
	bottom: 8px;
    z-index: 1;
    cursor: text;
    margin: 0;
}

.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_stockroom .stockRoomList ul.address-list li.phones > div .input div input:focus ~ label, 
.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_stockroom .stockRoomList ul.address-list li.phones > div .input div label.active {
    top: 0;
    transform: scale(.9);
}

/* Chrome, Safari, Edge, Opera */
.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_stockroom .stockRoomList ul.address-list li.phones > div .input div.number input::-webkit-outer-spin-button,
.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_stockroom .stockRoomList ul.address-list li.phones > div .input div.number input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_stockroom .stockRoomList ul.address-list li.phones > div .input div.number input[type="number"] {
	-webkit-appearance: none;
	-moz-appearance: textfield;
}

.modalBlock.addNewTable .modal__block .modalBody > div.juridic_entity .input > div {
	width: auto;
    display: block;
    position: inherit;
    margin-left: 0;
}

.modalBlock.addNewTable .modal__block .modalBody > div.juridic_entity .input {	
    width: auto;
    display: flex;
    flex-direction: column;
    margin-left: 53px;
}

.modalBlock.addNewTable .modal__block .modalBody > div.juridic_entity .input  .inputing input[type="text"] {
    margin-top: 6px;
    margin-left: 50px;
}

.modalBlock.addNewTable .modal__block .modalBody > div.juridic_entity .input > div input {
    position: inherit;
}

.modalBlock.addNewTable .modal__block .modalBody > div.juridic_entity .input  .selecting select {
    position: inherit;
    display: inherit;
    margin-top: 6px;
    margin-left: 50px;
}

.modalBlock.addNewTable .modal__block .modalBody div.title_for_input {
	padding-top: 5px;
	font-style: italic;
}

.modalBlock.addNewTable .modal__block .modalBody div.title_for_inputFly {
	padding-top: 5px;
	font-style: italic;
	position: absolute;
    top: 50px;
    right: 51px;
	width: 316px;
}

.modalBlock.addNewTable .modal__block .modalBody > div.add_new_user_phone > div,
.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_phone > div {
	flex-direction: column;
}

.modalBlock.addNewTable .modal__block .modalBody > div.add_new_user_phone .input,
.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_phone .input {
	width: auto;
}

.modalBlock.addNewTable .modal__block .modalBody > div.add_new_user_phone .input div,
.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_phone .input div {
    display: block;
    position: inherit;
    margin-left: 0;
}

.modalBlock.addNewTable .modal__block .modalBody > div.add_new_user_phone .input div.code,
.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_phone .input div.code {
	width: 90px;
	padding-right: 15px;
}

.modalBlock.addNewTable .modal__block .modalBody > div.add_new_user_phone .input div.number,
.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_phone .input div.number {
	width: 170px;
}

.modalBlock.addNewTable .modal__block .modalBody > div.add_new_user_phone .input div input,
.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_phone .input div input {
	position: inherit;
    color: #fff;
    background: #fff;
    display: inline-block;
    border: 0;
    outline: 0;
    font-size: 13px;
    padding: 3px 0;
    margin: 3px 0 0;
    width: 100%;
    resize: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #e6e6e6;
}

.modalBlock.addNewTable .modal__block .modalBody > div.add_new_user_phone .input div input:focus,
.modalBlock.addNewTable .modal__block .modalBody > div.add_new_user_phone .input div input.active,
.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_phone .input div input:focus,
.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_phone .input div input.active {
    border-bottom: 2px solid #e16b6b;
    color: #000;
}

/* Chrome, Safari, Edge, Opera */
.modalBlock.addNewTable .modal__block .modalBody > div.add_new_user_phone .input div.number input::-webkit-outer-spin-button,
.modalBlock.addNewTable .modal__block .modalBody > div.add_new_user_phone .input div.number input::-webkit-inner-spin-button,
.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_phone .input div.number input::-webkit-outer-spin-button,
.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_phone .input div.number input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.modalBlock.addNewTable .modal__block .modalBody > div.add_new_user_phone .input div.number input[type="number"],
.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_phone .input div.number input[type="number"] {
	-webkit-appearance: none;
	-moz-appearance: textfield;
}

.modalBlock.addNewTable .modal__block .modalBody > div.add_new_user_phone .input div label,
.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_phone .input div label {
	font-size: 14px;
    position: absolute;
    left: 0px;
    z-index: 1;
	cursor: text;
    margin: 0;
}

.modalBlock.addNewTable .modal__block .modalBody > div.add_new_user_phone .input div input:focus ~ label,
.modalBlock.addNewTable .modal__block .modalBody > div.add_new_user_phone .input div label.active,
.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_phone .input div input:focus ~ label,
.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_phone .input div label.active {
    top: 0;
	transform: scale(.9);
}

.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_descriptionOfShop label {
    margin-right: 12px;
}

.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_descriptionOfShop textarea {
    position: inherit;
    max-width: 223px;
}

.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_logoOfShop label {
    margin-right: 31px;
}

.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_logoOfShop svg {
    margin-left: 6px;
    margin-top: 34px;
}

.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_logoOfShop svg:hover {
    fill: #A83242;
    cursor: pointer;
}

.modalBlock.loadNewLogoOfShop {
    padding-right: 57px;
	z-index: 102;
}
.modalBlock.loadNewLogoOfShop .modal__block {
	width: 615px;
	min-height: 278px;
    background-color: #fff;
}

.modalBlock.error.level2 .modal__block  {
    width: 472px;
}

.modalBlock.error.level2 .modalHeaderError  {
    width: auto;
}

.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_shopName label.error::after,
.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_URLShop label.error::after,
.modalBlock.addNewTable .modal__block .modalBody > div.juridic_name label.error::after,
.editing_shop label[for="shop_name"].error::after,
.editing_shop label[for="shop_url"].error::after {	
    content: '';
    position: absolute;
    z-index: 2;
    width: 750px;
    height: 3px;
    left: 195px;
    top: 40px;
    background: #b92929;
}


.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_shopName label.error::after,
.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_URLShop label.error::after {
	width: 223px;
    left: 182px;
    top: 34px;
}

.modalBlock.addNewTable .modal__block .modalBody > div.juridic_name label.error::after {
	width: 223px;
    left: 182px;
    top: 46px;
}

.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_shopName label.error.needMore::before,
.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_shopName label.error.notAvailble::before,
.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_URLShop label.error.needMore::before,
.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_URLShop label.error.notAvailble::before ,
.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_URLShop label.error.falseSimbols::before,
.modalBlock.addNewTable .modal__block .modalBody > div.juridic_name label.error.notAvailble::before ,
.editing_shop label[for="shop_name"].error.needMore::before,
.editing_shop label[for="shop_name"].error.notAvailble::before,
.editing_shop label[for="shop_url"].error.needMore::before,
.editing_shop label[for="shop_url"].error.notAvailble::before ,
.editing_shop label[for="shop_url"].error.falseSimbols::before {
    position: absolute;
    z-index: 2;
    width: 223px;
    height: 3px;
    left: 195px;
    font-size: 14px;
    font-style: italic;
    top: 42px;
}

.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_shopName label.error.needMore::before,
.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_shopName label.error.notAvailble::before,
.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_URLShop label.error.needMore::before,
.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_URLShop label.error.notAvailble::before ,
.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_URLShop label.error.falseSimbols::before {
    left: 182px;
    top: 38px;
}

.modalBlock.addNewTable .modal__block .modalBody > div.juridic_name label.error.notAvailble::before {
    left: 182px;
    top: 50px;
}

.editing_shop label[for="shop_url"].error.falseSimbols::before {
	width: 750px;
}

.editing_shop label[for="shop_name"].error.needMore::before {
	content: 'Не меньше 4-х символов';
}

.editing_shop label[for="shop_name"].error.notAvailble::before {
	content: 'Такой адрес уже занят';
}

.editing_shop label[for="shop_url"].error.falseSimbols::before {
	content: 'Доступны только буквы латинского алфавита, цифры и знак подчёркивания _';
}

.editing_shop label[for="shop_url"].error.needMore::before {
	content: 'Не меньше 4-х символов';
}

.editing_shop label[for="shop_url"].error.notAvailble::before {
	content: 'Такое название уже занято';
}

.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_URLShop label.error.needMore::before {
	content: 'Не меньше 4-х символов';
}

.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_URLShop label.error.notAvailble::before {
	content: 'Такой адрес уже занят';
}

.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_URLShop label.error.falseSimbols::before {
	content: 'Доступны только буквы латинского алфавита, цифры и знак подчёркивания _';
}

.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_shopName label.error.needMore::before {
	content: 'Не меньше 4-х символов';
}

.modalBlock.addNewTable .modal__block .modalBody > div.addNewSeller_shopName label.error.notAvailble::before {
	content: 'Такое название уже занято';
}

.modalBlock.addNewTable .modal__block .modalBody > div.juridic_name label.error.notAvailble::before {
	content: 'Такого юридического названия не найдено';
}
