body {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: #7c9ab7;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
    border: 5px;
    border-style: solid;
    border-color: #2a76d8;
    background-color: #cacaca;
    padding: 20px;
}

input {
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
}

button {
    padding: 10px;
    background: #e3e3e3;
    border: unset;
    cursor: pointer;
}

.error {
    border-bottom: 2px solid #ff4332;
}

.msg {
    border: 2px solid #ffa908;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.logout {
    color: #b7625c;
}